<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/ambulante/dados/assets/img/iconWeb.svg">
    <title>Estatistica precisa</title>
    <link rel="stylesheet" href="/ambulante/dados/assets/style.css">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/ambulante/dados/assets/script.js" defer></script>
</head>
<body>
    
    <img src="/ambulante/padrao/img/logo.svg" class="logo">
    
    <div class="corpo">
        <nav class="navbar">
            <a href="/inicialB" class="active" id="NavInicio"><img src="/ambulante/padrao/img/inicio.png" >Inicio</a>
            <a href="/dados" class="active" id="NavReserva" style="color: #008B92"> <img src="/ambulante/padrao/img/dados-colorido.png" alt="">Dados</a>
            <a href="/CluberJSON/ClubeB" class="active" id="NavPedido"> <img src="/ambulante/padrao/img/clube.png" alt="">Clube</a>
            <a href="/comanda" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/comanda.png" alt="">Comanda</a>
            <a href="/perfilB" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/perfil.png" alt="">Perfil</a>
        </nav>
    </div>
    
    <section class="geral">
        <container style="position: fixed; top: 28vw; width: 100%; left: 0;">
            <section class="carrinhos">
                <container class="base">
                    <div class="setaE" id="prev">
                        <img src="/ambulante/InicialB/assets/img/setaE.png">
                    </div>
            
                    <div class="cards">
                        <% carrinhos.forEach(carrinho => { %>
                            <input type="radio" name="carrinho" value="<%= carrinho.carrinho.cd_carrinho %>" id="<%= carrinho.carrinho.cd_carrinho %>">
                            <label class="cardCarrinho" data-id="<%= carrinho.carrinho.cd_carrinho %>" for="<%= carrinho.carrinho.cd_carrinho %>">
                                <img id="imgCarrinho" src="/uploads/<%=carrinho.primeiraFoto%>" alt="Carrinho dois">
                                <h1><%= carrinho.carrinho.nm_carrinho %></h1>
                            </label>
                        <% }); %>
                    </div>

                    <div class="setaD" id="next">
                        <img src="/ambulante/InicialB/assets/img/setaD.png">
                    </div>
                </container>
            </section>
            <section class="grafico">
                <div class="buttons">
                    <input type="radio" name="opcoes" id="Reserva" value="Reserva" checked>
                        <label for="Reserva">Reserva</label>
                    <input type="radio" name="opcoes" id="Pedidos" value="Pedidos">
                        <label for="Pedidos">Pedidos</label>
                    <input type="radio" name="opcoes" id="Clientes" value="Clientes">
                        <label for="Clientes">Clientes</label>
                    <input type="radio" name="opcoes" id="Lucro" value="Lucro">
                        <label for="Lucro">Lucro</label>
                    </div>                    
                    <!-- <img id="grafico_img" src="/ambulante/dados/assets/img/grafico.png" alt="Gráfico"> -->
                    <div class="grafico_container">
                        <div id="chart_div" style="width: 100%"></div> 
                    </div>
                <p class="paragrafo">Tempo que deseja ver</p>
                <div class="buttons2">
                        <input type="radio" name="tempo" value="hoje" id="hoje" checked> 
                        <label for="hoje">Hoje</label>                          
                        
                        <input type="radio" name="tempo" value="ultimaSemana" id="ultimaSemana">
                        <label for="ultimaSemana">Última semana</label>
                        
                        <input type="radio" name="tempo" value="ultimoMes" id="ultimoMes">
                        <label for="ultimoMes">Último mês</label>
                        
                        <input type="radio" name="tempo" value="ultimosSeisMeses" id="ultimosSeisMeses">
                        <label for="ultimosSeisMeses">Último semestre</label>
                </div>
                    <p class="paragrafo">Tipo de gráfico que deseja</p>
                    <div class="radioB">
                        <label class="container">Colunas
                            <input type="radio" checked="checked" name="chartType" value="ColumnChart">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Linha
                            <input type="radio" name="chartType" value="LineChart">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Barra
                            <input type="radio" name="chartType" value="BarChart">
                            <span class="checkmark"></span>
                        </label>
                    </div>                    
                </section>
            </container>
        </section>
    </body>
    </html> 