<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/AMBULANTE/PADRAO/img/iconWeb.svg">
    <link rel="stylesheet" href="/ambulante/perfilB/assets/style.css">
    <script src="/ambulante/perfilB/assets/script.js"></script>
    <title>Perfil</title>
</head>

<body data-theme="<%= themePreference %>">
    <img src="/ambulante/comanda/assets/img/logo.png" class="logo">

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
    </header>

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicialB" class="active" id="NavInicio" style="color: black;"><img src="/ambulante/padrao/img/inicio.png" >Inicio</a>
            <a href="/dados" class="active" id="NavReserva"> <img src="/ambulante/padrao/img/dados.png" alt="">Dados</a>
            <a href="/CluberJSON/ClubeB" class="active" id="NavPedido"> <img src="/ambulante/padrao/img/clube.png" alt="">Clube</a>
            <a href="/comanda" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/comanda.png" alt="">Comanda</a>
            <a href="/perfilB" class="active" id="NavPerfil" style="color: #008B92;"> <img src="/ambulante/padrao/img/perfil-colorido.png" alt="">Perfil</a>
        </nav>
    </div>

    <div class="imgP">
        <img class="foto" src="<%=fotoPerfilUrlB%>" alt="Imagem de Perfil">
        <img src="ambulante/perfilB/assets/img/ferramenta-lapis 2.png" class="lapis" id="Editar">
        <h3 class="nome" id="seuNome" name="seuNome"><%= nome %> <%= SobreNome %></h3>
        <h4 class="desde">Praioou desde <%= ano %></h4>
        <a href="/configB" style="text-decoration: none;"><button class="btn"><img src="ambulante/perfilB/assets/img/config.png" alt="" > Configurações</button></a>
    </div>

    
    <div class="caixa">
        <div class="atalhos">
            <button><img src="ambulante/perfilB/assets/img/barraca-de-comida 1.png" alt="">Carrinhos</button>
            <button><img src="ambulante/perfilB/assets/img/bandeja-de-comida 1.png" alt="">Comandas</button>
            <a href="/Reservacad"><button><img src="ambulante/perfilB/assets/img/cadeira-de-praia 1.png" alt="">Reservas</button></a>
        </div>
        <div class="atalhos">
            <a href="/planos"><button><img src="ambulante/perfilB/assets/img/lista-de-precos 1.png" alt="">Planos</button></a>
            <button><img src="ambulante/perfilB/assets/img/grafico-de-pizza 1.png" alt="">Estatisticas</button>
            <a href="/Recibos"><button><img src="ambulante/perfilB/assets/img/recibo 1.png" alt="">Recibos</button></a>
        </div>
    </div>

    <div class="Atalhos">
        <div class="Kaboom" id="kaboom">
            <img class="bolinha" src="ambulante/perfilB/assets/img/Bolinha-Ka-Boom.png" alt="">
            <div class="texto">
                <p><strong>Tchibum!</strong></p>
                <p>Suba para o topo das pesquisas</p>
            </div>
        </div>

        
        <div class="avaliacao">
            <img class="bolinha" src="ambulante/perfilB/assets/img/Bolinha-avaliacao.png" alt="">
            <div class="texto">
                <p>78</p>
                <p>Avaliações feitas</p>
            </div>
            
        </div>
    </div>

    <div class="mode">
        <h3 style="font-size: 4.5vw;">Modo Escuro</h3>
        <div class="sep">
            <input type="checkbox" class="checkbox" id="chk"/>
            <label for="chk" class="labelmode" id="chk">
                <div class="bola"></div>
            </label>
        </div>
    </div>

    <div class="typePlano">
        <h3 style="font-size: 4.5vw;">Seu Plano Atual</h3>
        <h3 style="color: #00b3bd;font-size: 4.5vw;">Teste Grátis</h3>
    </div>

    <a href="/Tutorial">
        <div class="tutorial">
            <h3 style="font-size: 4.5vw;">Tutorial do Aplicativo</h3>
            <img src="ambulante/perfilB/assets/img/seta.png" alt="">
        </div>
    </a>

    <section id="ModalFTPerfil">
        <form
            class="formPerfil"
            action="/imgPerfilB"
            method="POST"
            enctype="multipart/form-data"
            id="formPerfil"
            >
            <p class="fechar">X</p>
            
            <img src="<%=fotoPerfilUrlB%>" alt="Imagem de Perfil"/>
            
            <div class="AddDir">
                <input
                    type="file"
                    name="file"
                    id="input-files"
                    />

                <label for="input-files" class="EscolherDir">Escolher Arquivo</label>
            </div>  
                  
            <div class="JustifyB">
                <button type="submit" class="btnModal" id="Salvar">Salvar</button>
                <button id="excluir-imagem" class="btnModal">Excluir Imagem</button>
            </div>
        </form>   
    </section>

    <footer>
        <h4>Versão 1.2.2.2</h4>
    </footer>
    <!-- modal Tchibum -->
    <div class="modalMetasTchibum" style="position: fixed; top: 0; display: none;">
        <!-- <div class="blur"></div>  n sei pq n tá indo-->
        <div class="modalProgresso">
            <span class="btnFechar">&times;</span>
            <h1 style="margin: 3vw; color: #008B92;">Suas Metas</h1>
            <p style="margin-top: 0;">Atinga suas metas e utilize o Tchibum para impulsionar suas vendas.</p>
            <div class="barraProgresso">
                <div class="detalhes">
                    <span>65 Reservas na semana</span>
                    <span>(50/65)</span>
                </div>
                <div class="barra">
                    <div class="barraPreenchida"></div>
                </div>
              </div>
              <div class="barraProgresso">
                  <div class="detalhes">
                    <span>45 Pedidos na semana</span>
                    <span>(08/40)</span>
                </div>
                <div class="barra">
                    <div class="barraPreenchida"></div>
                </div>
              </div>
              <div class="barraProgresso">
                <div class="detalhes">
                    <span>7 Avaliações na semana</span>
                    <span>(03/07)</span>
                </div>
                <div class="barra">
                    <div class="barraPreenchida"></div>
                </div>
            </div>
            <button id="btnAtivarTchibum">Ativar</button>
        </div>
        
        <div class="kaboomConfirmacao">
            <span class="btnFecharMeta">&times;</span>
            <h1 style="margin: 3vw; color: #008B92;">Suas Metas</h1>
            <p style="margin-top: 0; color: #00404A;">
                Parabéns! Você atingiu todas as suas metas! Deseja ativar o Tchibum para impulsionar suas vendas?
            </p>
            <p style="color: #00404A;">
                A ativação tem duração de 2 semanas. Após esse período, suas metas serão redefinidas, e o Tchibum será desativado automaticamente.
            </p>
            <div class="btnAjuste">
                <button class="btnCancelarKaboom">Cancelar</button>
                <button class="btnAtivarKaboom">Ativar</button>
            </div>
        </div>
    </div>
    <script src="AMBULANTE/perfilB/assets/script.js"></script>
</body>

</html>