<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/banhista/padrao/style.css">
    <link rel="stylesheet" href="/banhista/suasReservas/assets/style.css">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/inicial/assets/img/iconWeb.svg">
    <title>Suas reservas</title>
</head>
<body>

        <header class="navSup">
            <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
        </header>

        <img src="/banhista/padrao/img/logo.svg" class="logo">

        <div class="corpo">
            <nav class="navbar">
                <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/padrao/img/inicio.png" >Inicio</a>
                <a href="/suasReservas" class="active" id="NavReserva" style="color: #008B92;"> <img src="/banhista/padrao/img/reserva_colorido.png" alt="">Reserva</a>
                <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/cardapio/assets/img/Pedido.png" alt="">Sacola</a>
                <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
            </nav>
        </div>

        <!-- ALGUMAS RESERVAS ESTÃO DENTRO DE RESERVA ATIVA E OUTROS NÃO -->
        <section class="suasReservas">
            <div class="ajusteTitle">
                <h1>Suas Reservas</h1>
                <p>Veja todas as suas reservas ativas</p>
            </div>
        
            <section class="reservaContainer">
                <div class="ajusteBuscar">
                    <input type="text" id="buscar" placeholder="Buscar" class="inputHR">
                    <button id="filtro">Filtrar
                        <img src="/banhista/suasReservas/assets/img/filtro 2.png" id="iconFiltrar" alt="">
                    </button>
                </div>
        
                <!-- Reservas de Hoje -->
                <h3>Reservas para hoje</h3>
                <div class="totalReserva">
                    <% if (reservasHoje.length > 0) { %>
                        <% reservasHoje.forEach(reserva => { %>
                            <div class="reservas">
                                <div class="ajusteData">
                                    <h5>Hoje</h5>
                                    <hr>
                                </div>
                                <div class="reservaAtiva">
                                    <div class="reserva">
                                        <img class="imgReserva" src="/uploads/<%= reserva.dataValues.Fotocarrinho %> " alt="">
                                        <div class="ajusteReserva">
                                            <h4><%= reserva.dataValues.carrinho.nm_carrinho %></h4>
                                            <p><span class="span">Reservado por: </span> <%= reserva.nm_reservante %></p>
                                            <p><span class="span">Valor:</span> <%= reserva.dataValues.vl_reserva %></p>
                                            <p><span class="span">Horário:</span> <%= reserva.dataValues.hr_reserva %></p>
                                            <button id="btnCancelar" data-cancelar >Cancelar reserva</button>
                                            <button id="btnVer" data-reserva>Ver reserva</button>
                                        </div>
                                        <img id="iconNot_<%= reserva.id %>" src="/banhista/suasReservas/assets/img/notificacao 1.png" class="iconNot" alt="">
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>Não há reservas para hoje.</p>
                    <% } %>
                </div>
        
                <!-- Reservas Futuras -->
                <h3>Reservas futuras</h3>
                <div class="reservasFuturas">
                    <% if (reservasFuturas.length > 0) { %>
                        <% reservasFuturas.forEach(reserva => {
                            %>
                            <div class="reservas">
                                <div class="ajusteData">
                                    <h5><%= moment(reserva.dataValues.dt_reserva).tz('America/Sao_Paulo').format('DD/MM/YYYY')  %></h5>
                                    <hr>
                                </div>
                                <div class="reservaAtiva">
                                    <div class="reserva">
                                        <img class="imgReserva" src="/uploads/<%= reserva.dataValues.Fotocarrinho %>" alt="">
                                        <div class="ajusteReserva">
                                            <h4><%= reserva.dataValues.carrinho.nm_carrinho %></h4>
                                            <p><span class="span">Reservado por: </span> <%= reserva.nm_reservante%></p>
                                            <p><span class="span">Valor:</span> <%= reserva.dataValues.vl_reserva %></p>
                                            <p><span class="span">Horário:</span> <%= reserva.dataValues.hr_reserva %></p>
                                            <button id="btnCancelar" data-cancelar >Cancelar reserva</button>
                                            <button id="btnVer" data-reserva>Ver reserva</button>
                                        </div>
                                        <img id="iconNot_<%= reserva.id %>" src="/banhista/suasReservas/assets/img/notificacao 1.png" class="iconNot" alt="">
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>Você não tem reservas futuras.</p>
                    <% } %>
                </div>
        
                <!-- Reservas Finalizadas ou Canceladas -->
                <h3>Reservas finalizadas ou canceladas</h3>
                <div class="reservasAnteriores">
                    <% if (reservasAnteriores.length > 0) { %>
                        <% reservasAnteriores.forEach(reserva => { %>
                            <div class="reservas">
                                <div class="ajusteData">
                                    <h5><%= new Date(reserva.dataValues.dt_reserva).toLocaleDateString() %></h5>
                                    <hr>
                                </div>
                                <div class="reserva">
                                    <img class="imgReserva" src="/uploads/<%= reserva.dataValues.Fotocarrinho %>" alt="">
                                    <div class="ajusteReserva">
                                        <h4><%= reserva.dataValues.carrinho.nm_carrinho %></h4>
                                        <p><span class="span">Reservado por: </span> <%= reserva.nm_reservante %></p>
                                        <p><span class="span">Valor:</span> <%= reserva.dataValues.vl_reserva %></p>
                                        <p><span class="span">Horário:</span> <%= reserva.dataValues.hr_reserva %></p>
                                        <button id="btnVer" class="carrinho">Ver carrinho</button>
                                    </div>
                                    <img id="iconNot_<%= reserva.id %>" src="/banhista/suasReservas/assets/img/notificacao 1.png" class="iconNot" alt="">
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>Você não tem reservas finalizadas ou canceladas.</p>
                    <% } %>
                </div>
            </section>
        </section> 

        <!-- MODAIS PARA ADICIONAR LEMBRETE -->

        <div id="modalAddLembrete" style="display: none;">
            <div class="blur"></div>
            <div class="lembrete">
                <div class="ajusteModal">
                    <h3 style="font-weight: 700;">Adicionar lembrete</h3>
                    <span class="iconFechar" class="span">&times;</span>
                </div>
                <form class="org-hora">
                    <div class="tempo">
                      <input type="radio" name="opcHora" id="hora1" value="1" class="inputHR" style="display: none;">
                      <label for="hora1" class="label">1 Hora</label>
                  
                      <input type="radio" name="opcHora" id="hora3" value="3" class="inputHR" style="display: none;">
                      <label for="hora3" class="label">3 Horas</label>
                  
                      <input type="radio" name="opcHora" id="hora6" value="6" class="inputHR" style="display: none;">
                      <label for="hora6" class="label">6 Horas</label>
                  
                      <input type="radio" name="opcHora" id="dia1" value="1d" class="inputHR" style="display: none;">
                      <label for="dia1" class="label">1 dia antes</label>
                  
                      <input type="radio" name="opcHora" id="dia2" value="2d" class="inputHR" style="display: none;">
                      <label for="dia2" class="label">2 dias antes</label>
                    </div>
                  </form>
                  
                <button id="addLembrete">Adicionar lembrete</button>
            </div>
            <div class="lembreteConfirmado">
                <div class="ajusteModal">
                    <h3 style="font-weight: 700;">Lembrete adicionado</h3>
                    <span class="iconFechar" class="span">&times;</span>
                </div>
                <img src="banhista/suasReservas/assets/img/verificado 1.png" id="iconConfirmado" alt="ícone de check verde">
                <p class="textoLembrete">*Seu lembrete foi adicionado, ao chegar no tempo definido você receberá uma notificação</p>
                <button class="btnVoltar">Voltar</button>
            </div>
        </div>

        <!-- MODAIS CANCELAR RESERVA  -->
        <div class="cancelar">
            <div class="blur"></div>
            <div class="cancelarReserva" style="display: none;">
                <div class="ajusteModal">
                    <h3 style="font-weight: 700;">Cancelar reserva</h3>
                    <span class="iconFechar" class="span">&times;</span>
                </div>
                <p>Deseja cancelar a sua reserva? Esta ação <span class="destaque">não</span> poderá ser desfeita, e você terá que fazer a reserva novamente caso mude de ideia. Você receberá o valor da reserva em formato de voucher de consumo; <span class="destaque">o dinheiro não será devolvido diretamente</span>, somente em formato de voucher de consumo.</p>
                <button id="btnCancelarReserva">Cancelar</button>    
            </div>
            <div class="reservaCanceladaConfirmada">
                <div class="ajusteModal">
                    <h3 style="font-weight: 700;">Cancelar reserva</h3>
                    <span class="iconFechar" class="span">&times;</span>
                </div>
                <img src="banhista/suasReservas/assets/img/verificado 1.png" id="iconConfirmado" alt="ícone de check verde">
                <p class="textoLembrete">*Seu lembrete foi adicionado, ao chegar no tempo definido você receberá uma notificação</p>
                <button class="btnVoltar">Voltar</button>
            </div>
        </div>

        <!-- MODAL VER RESERVA -->
        <div class="verReserva" style="display: none;">
            <div class="blur"></div>
            <div class="reciboReserva">
                <div class="ajusteImgRecibo">
                    <img src="banhista/suasReservas/assets/img/ilustracao_cadeira.png" alt="ilustração de uma cadeira de praia ao Sol" style="width: 25vw;">
                    <span class="iconFechar" class="span">&times;</span>
                </div>
                <% if (reservasFuturas.length = 1) { %>
                    <% reservasFuturas.forEach(reserva => {
                        %>
                        <div style="display: flex; align-items: baseline; justify-content: space-between;">
                            <p class="descricaoReserva">Descrição da Reserva</p>
                            <span class="dtReserva"><%= moment(reserva.dataValues.dt_reserva).tz('America/Sao_Paulo').format('DD/MM/YYYY')  %></span>
                        </div>
                        <hr>
                        <div class="detalhesRecibo">
                            <p class="detalhe">Carrinho da reserva: <span class="detalheInfo"><%= reserva.dataValues.carrinho.nm_carrinho %></span></p>
                            <p class="detalhe">Horário da reserva: <span class="detalheInfo"><%= reserva.dataValues.hr_reserva %></span></p>
                            <p class="detalhe">Nome do reservante: <span class="detalheInfo"><%= reserva.nm_reservante %></span></p>
                            <p class="detalhe">Valor da reserva: <span class="detalheInfo"><%= reserva.dataValues.vl_reserva %></span></p>
                            <p class="detalhe">Quantidade de pessoas: <span class="detalheInfo">4</span></p>
                        </div>
                        <hr>
                        <button id="btnComprarTempoExtra">Comprar tempo extra</button>
                    </div>
                        <% }) %>
                    <% } 
                    
                    else { %>
                        <p>Reserva não encontrada</p>
                    <% } 
                %>
                <!-- modal de comprar tempo extra para a reserva, scrr meu deus -->
                <div class="modalTempoExtra" style="text-align: left;">
                    <div class="ajusteModal">
                        <h3 style="margin-right: 2vw;">Vai se atrasar? Compre mais tempo para garantir o seu lugar</h3>
                        <span class="iconFechar" class="span">&times;</span>
                    </div>
                    <form class="org-hora">
                        <div class="tempo">
                          <input type="radio" name="opcTempoExtra" id="5min" class="inputHR" value="05" style="display: none;">
                          <label for="5min" class="label">5 min</label>
                      
                          <input type="radio" name="opcTempoExtra" id="10min" class="inputHR" value="10" style="display: none;">
                          <label for="10min" class="label">10 min</label>
                      
                          <input type="radio" name="opcTempoExtra" id="15min" class="inputHR" value="15" style="display: none;">
                          <label for="15min" class="label">15 min</label>
                      
                          <input type="radio" name="opcTempoExtra" id="20min" class="inputHR" value="20" style="display: none;">
                          <label for="20min" class="label">20 min</label>
                      
                          <input type="radio" name="opcTempoExtra" id="25min" class="inputHR" value="25" style="display: none;">
                          <label for="25min" class="label">25 min</label>

                          <input type="radio" name="opcTempoExtra" id="30min" class="inputHR" value="30" style="display: none;">
                          <label for="30min" class="label">30 min</label>
                        </div>
                    </form>
                    <p>Valor: <span class="vlTempo">R$ 7,50</span></p>
                    <button class="btnComprar">Comprar</button>
                </div>
        </div>

        <section id="modalBk" class="no-scroll ">
            <div class="modal">
                <div class="ajusteModalFiltro">
                    <h1>Filtrar por</h1>
    
                    <h3>Data</h3>
    
                    <div class="dt-container">
    
                        <input type="date" name="data" id="dt">
    
                    </div>
    
                    <h3>Reservas</h3>
    
                    <div class="radio">
                        <label class="Radios">
                            <input type="radio" name="pag" class="inputR" value="can">
                            <span class="btnR">Canceladas</span>
                        </label>
                        <label class="Radios">
                            <input type="radio" name="pag" class="inputR" value="ati">
                            <span class="btnR">Ativas</span>
                        </label>
                        <label class="Radios">
                            <input type="radio" name="pag" class="inputR" value="fin">
                            <span class="btnR">Finalizadas</span>
                        </label>
                    </div>
    
                    <h3>Valor</h3>
    
                    <div class="justifyValues">
                        <p>R$10</p>
                        <input type="text" id="display" value="0" readonly>
                        <p>R$250</p>
                    </div>
                    <div class="Pontos">
                        <div class="ponto"></div>
                        <div class="ponto"></div>
                    </div>
    
                    <div class="range-container">
    
                        <input type="range" id="myRange" name="vlg" value="10" min="10" max="250"
                            oninput="display.value=value" onchange="display.value=value">
    
                    </div>
    
                    <div class="btns">
    
                        <div id="btnL">Limpar Filtros</div>
                        <div id="btnF">Aplicar filtros</div>
    
                    </div>
                </div>
        </section>
        <script src="banhista/suasReservas/assets/script.js"></script>
    </body>
    </html>